@{
    ViewData["Title"] = "Home Page";
}

<h2>Welcome to the Auth0 ASP.NET Core MVC Starter Project</h2>
<p>To follow along in building this sample please <a href="https://auth0.com/docs/quickstart/webapp/aspnet-core">refer to the Quickstart</a>.

<p><a href="/account/login">Login</a></p>

Access Token: @ViewData["accessToken"]
<br />
Id Token: @ViewData["idToken"]
